<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GCCCyclingApp"
        tools:targetApi="31">
        <activity
            android:name=".CyclingClubEvents"
            android:exported="false" />
        <activity
            android:name=".RoadStageRace"
            android:exported="false" />
        <activity
            android:name=".RoadRace"
            android:exported="false" />
        <activity
            android:name=".HillClimb"
            android:exported="false" />
        <activity
            android:name=".EventManagement"
            android:exported="false" />
        <activity
            android:name=".GroupRides"
            android:exported="false" />
        <activity
            android:name=".AdminAccount"
            android:exported="false" />
        <activity
            android:name=".admin"
            android:exported="false" />
        <activity
            android:name=".WelcomePage"
            android:exported="false" />
        <activity
            android:name=".CyclingClubAccount"
            android:exported="false" />
        <activity
            android:name=".ParticipantAccount"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".AccountSelection"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>